html {
  height: 100%;
  font-family: 'Times New Roman', Times, serif; 
}

body {
  height: 100%;
}

#root {
  height: 100%;
}

#main-container {
  height: 100%;
}

.web-page {
  height: 100%;
}

.enter-form {
  display: flex;
  justify-content: center;
}